*{
padding:0px;
margin:0px;
list-style-type:none;
text-decoration:none;
}
.header_bg{
width:100%;
height:100px;
background-size:100%;
border-bottom:3px solid green;
font-family: 'Roboto Condensed', sans-serif;
}
.head{
width:1200px;
margin:auto;

}
.header{
width:10%;
height:80px;
float:left;
}
.green{
width:15%;
height:80px;
margin-top:10px;
float:left;
color:green;
font-family: 'Alegreya Sans SC', sans-serif;
}
.hd{
font-family: 'Alegreya Sans SC', sans-serif;
text-align:center;
margin-top:20px;}
.hd1{
font-family: 'Alegreya Sans SC', sans-serif;
}
.hd2{
font-family: 'Alegreya Sans SC', sans-serif;
text-align:center;
margin-top:30px;
padding:10px;}
.menu{
width:50%;
height:80px;
margin-top:10px;
margin-left:80px;
float:left;
}
.menu ul li{
float:left;
padding:23px;}

.social_links{
width:15%;
height:70px;
margin-top:20px;
float:left;
}
.social_links ul li{
float:left;
padding:10px;}
.bg_image{
width:100%;
height:600px;
background-size:100%;
background-image:url(../images/pool.gif );
background-repeat:no-repeat;
}
.active{
border-bottom:3px solid green;
color:green;}
.inactive{
color:green;}
.menu ul li :hover{
transition: transform 0.5s cubic-bezier(.55,.06,.68,.19) 0s;
}
.inactive1{
color:white;}
.read{
 width:100px;
 height:30px;
 background-color:#f43925;
 text-align:center;
 margin-top:150px;
 padding:5px;
 color:white;
 border-radius:20px;
 color:white;}
.bg{
width:1200px;
margin:auto;}
.para{
width:40%;
height:200px;
padding-top:250px;
padding-left:330px;
text-align:center;
font-size:20px;
color:white;
font-family: 'Roboto Condensed', sans-serif;}
.content_bg{
width:100%;
height:200px;
background-size:100%;
}
.content{
width:1200px;
margin:auto;
text-align:center;
font-family: 'Roboto Condensed', sans-serif;
}
.service_bg{
width:100%;
height:400px;
background-size:100%;
}
.service{
width:1200px;
margin:auto;
font-family: 'Roboto Condensed', sans-serif;
}
.service1{
width:25%;
height:300px;
padding-top:50px;
text-align:center;
float:left;}
.service1 img{
border-radius:30em;
background-color:black;
padding:40px;
}
.service1 img:hover{
background-color:gray;
}
.work_bg{
width:100%;
height:400px;
background-size:100%;
}
.work{
width:1200px;
margin:auto;
font-family: 'Roboto Condensed', sans-serif;
}
.work1{
width:21%;
height:300px;
padding-top:20px;
padding-left:40px;
text-align:center;
float:left;}
.work1 img{
border-radius:0.8em;}
.client_bg{
width:100%;
height:150px;
background-size:100%;}
.client{
width:1200px;
margin:auto;
font-family:FontAwesome;
}
.client_img{
float:left;
height:90px;}
.client_img ul li{
float:left;
padding:25px;
}
.footer_bg{
width:100%;
height:150px;
background-size:100%;
background-repeat:no-repeat;
background-color:black;

}
.footer
{
width:1200px;
margin:auto;
font-family: 'Roboto Condensed', sans-serif;
}
.foot{
color:white;
padding-top:20px;
text-align:center;
width:400px;
height:60px;
float:left;}
.foot1_bg{
background-size:100%;
background-repeat:no-repeat;
background-color:#202121;
height:20px;
color:white;
}
.foot1
{
width:1200px;
margin:auto;
font-family: 'Roboto Condensed', sans-serif;
}
.copy{
float:left;
height:10px;
font-size:0.8em;

}
.privacy{
font-size:0.8em;
height:10px;
float:right;}
.line{
border-bottom:1px solid #000000;
margin-top:20px;}
/*** about ***/
.background_img{
width:100%;
height:400px;
background-size:100%;
background-image:url(../images/abt.jpg);
background-repeat:no-repeat;}
.background{
width:1200px;
margin:auto;}
.imge_content{
padding:200px;
text-align:center;
font-size:40px;
}
.about_bg{
width:100%;
height:600px;
background-size:100%;
}
.about{
width:1200px;
margin:auto;
font-family: 'Roboto Condensed', sans-serif;
}
.about1{
width:45%;
height:500px;
margin-top:50px;
float:left;
}
.about1 img{
border-radius:10em;
}
.about1 img:hover{
-webkit-transform:scale(1.1);
}
.about2{
width:50%;
height:500px;
margin-top:30px;
padding-top:10px;
font-size:1.2em;
float:left;
}
.team_bg{
width:100%;
height:500px;
background-size:100%;

}
.team{
width:1200px;
margin:auto;
font-family: 'Roboto Condensed', sans-serif;
}
.team1{
width:33%;
height:400px;
text-align:center;
float:left;}
.team1 img{
margin-top:30px;
border-radius:30em;
}
.team1 img:hover{
-webkit-transform:scale(1.2);
}
.lo_list{
margin-top:20px;
width:33%;
margin-left:140px;
float:left;}
.lo_list ul li{
padding-left:10px;
float:left;}
/**** services ****/

.service2_bg{
width:100%;
height:700px;
background-size:100%;
}
.service2{
width:1200px;
margin:auto;
}

.service3{
width:293px;
height:590px;
float:left;
color:white;
font-size:20px;
padding-left:30px;
padding-right:30px;
padding-top:20px;
background-color:green;
font-family: 'Roboto Condensed', sans-serif;
}
.cat ul li{
list-style-type:circle;
padding-left:10px;}
.services{
float:left;}
.service4{
width:266px;
height:305px;
font-size:18px;
padding-left:15px;
font-family: 'Roboto Condensed', sans-serif;

}
.service4 h4{
padding-top:30px;
padding-bottom:30px;
}
.service5{
width:250px;
height:300px;
margin-left:10px; 
}
.service5 img:hover{
-webkit-transform:scale(1.01);
}
/*** portfolio ****/
.project1_bg{
width:100%;
height:1500px;
background-size:100%;
}
.projects{
width:1200px;
margin:auto;}
.project2{
float:left;
width:350px;
height:280px;
margin-top:30px;
margin-left:50px;}
.project2 img:hover{
	opacity:0.5;
	}

/***** contact ***/
.contct_bg{
width:100%;
height:600px;
background-size:100%;
background-repeat:no-repeat;
}
.contct{
width:1200px;
margin:auto;
font-family: 'Roboto Condensed', sans-serif;
}

.form_bg{
width:100%;
height:500px;
background-size:100%;
}
.form{
width:1200px;
margin:auto;
font-family: 'Roboto Condensed', sans-serif;
}
.contact{
width:50%;
height:450px;
float:left;
}
.col-2{
width:50%;
height:450px;
float:left;
}
.col-2 h3{
padding-top:15px;}

#name:focus{
	outline:0;
}

#email:focus{
	outline:0;
}

#message:focus{
	outline:0;
}
.button{
	width:100px;
	padding:10px;
	font-size:15px;
	font-weight:bold;
	color:green;
	background-color:black;
	border-radius:10px;
}
.button:hover{
	cursor:pointer;
	background-color:orange;
	}